manifest {
    name            = "angelovangel/nxf-minimapper"
    author          = "aangeloo@gmail.com"
    homePage        = "https://github.com/angelovangel/nxf-minimapper"
    defaultBranch   = "main"
    description     = "Map long reads to reference"
    mainScript      = "main.nf"
    nextflowVersion = ">=23.04.2"
    version         = "v0.2.5"
}


params {
    outdir = "output"
    help = false
    minimap_args = ""
    format = "fasta"
    variants = false
}

docker.enabled = true